$color-blue-light: #E5F3FF;
$color-blue: #0082FF;
$color-blue-dark: #0075E5;
$color-white: #ffffff;
$color-gray-dark: #5A7389;
$color-gray-dark-2: #A5B7C7;
$color-gray-light: #EFF4F8;
$color-black: #272E35;
$color-red: #CA4239;
$color-red-dark: #BF2F26